///////// constants /////////
aboveRinZIndex = 100000000

///////// fonts /////////
@font-face
	font-family sourceSans
	//src url('../fonts/source-sans-pro.light.ttf')
	//src url('../fonts/source-sans-pro-light/source-sans-pro-light.woff') format('woff') 
	
	src url('../fonts/source-sans-pro-light/source-sans-pro-light.ttf') format('ttf'), url('../fonts/source-sans-pro-light/source-sans-pro-light.eot?') format('eot'), url('../fonts/source-sans-pro-light/source-sans-pro-light.woff') format('woff') 

@font-face
	font-family Cinzel
	src url('../fonts/Cinzel-Regular/Cinzel-Regular.eot?') format('eot'), url('../fonts/Cinzel-Regular/Cinzel-Regular.woff') format('woff'), url('../fonts/Cinzel-Regular/Cinzel-Regular.ttf') format('ttf'), url('../fonts/Cinzel-Regular/Cinzel-Regular.otf') format('otf')

@font-face
	font-family GFB
	src url('../fonts/Nobel_Fonts/GFB.ttf') format('ttf'), url('../fonts/Nobel_Fonts/GFB.woff') format('woff') 


@font-face
	font-family Berthold Akzidenz
	src url('../fonts/AkzidGrtskProLig (1).woff') format('woff')
	 
///////// functions and mixins /////////
wh()
	width arguments
	height arguments