@import 'common.styl'

body {
}

#ITEHolder {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
}

.assetImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: inherit;
}


.assetVideo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}


#bottomContainer {
    height: 12.5%;
    width: 100%;
    bottom: 0%; 
    position: absolute;
    z-index: 100000;
}

#buttonContainer {
    height: 57%;
    width: 50%;
    top: 0%;
    left: 25%
    position: absolute;
}

.fullScreenButtonContainer {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 6%
}

.fullScreenButton {
    width: 100%;
    height: 100%;
    opacity: .5;
}

.loopButtonContainer {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 2%
}

.loopButton {
    width: 100%;
    height: 100%;
    opacity: .5;
}

.playPauseButtonContainer {
    width: 50px;
    height: 100%;
    position: absolute;
    left: 1%;
}

.playPauseButton {
    width: 100%;
    height: 100%;
}

.progressBarContainer {
    width: 25%;
    height: 25%;
    left: 30%
    position: absolute;
    bottom: 60%;
    background-color: transparent;
}

.progressBar {
    width: 100%;
    height: 100%;
    max-width: 100%
    background-color: #333333;
}

.progressIndicatorContainer {
    width: auto;
    position: absolute;
   // right: 11%;
    top: 17.5%;
}

.progressIndicator {
    width: 100%;
    height: 50%;
    font-size: 1.05em;
    color: white;
    font-family: "Segoe UI", serif;
}

.UIControl {
    position: absolute;
    z-index: 10;
    opacity: 0;
}

.volumeContainer {
    position: absolute;
   // right: 6%;
    width: 50px;
    height: 400%;
    bottom: 0;
}

.volumeButtonContainer {
    width: auto;
    height: 25%;
    position: absolute;
    bottom: 0;
}

.volumeButton {
    width: 100%;
    height: 100%;
}

.volumeLevelContainer {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0%
}

.volumeLevel {
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 50%;
    height: 100%;
    background-color: #D99B3B;
}