@import 'common.styl'

#newCatalogRoot
	background-color rgb(50,50,50)
	overflow-x hidden
	overflow-y hidden
	position absolute
	wh 100%

#newCatalogRoot .arrow
	position absolute
	top 25%
	left 34%
	height 35%
	width auto
	min-height 20px
	cursor pointer

#newCatalogRoot .artistInfo
	color white
	position absolute
	left 0
	bottom 0
	overflow hidden          
	text-overflow ellipsis
	white-space nowrap
	width 70%

#newCatalogRoot .artText
	margin-top 0.84%
	font-size 100%
	word-wrap break-word
	text-align center             
	width 90%
	position relative
	left 5%
	color rgb(189,125,13)

#newCatalogRoot .artTitle
	background-color rgba(0, 0, 0, 0.9)
	height 30%
	word-wrap break-word
	opacity .5
	position absolute
	width 100%
	padding-top 2%

#newCatalogRoot .bottomButton
	cursor pointer
	display block
	float right
	height  60%
	top 10%
	margin 0px .7% 0px .7%
	position relative
	width auto

#newCatalogRoot #bottomButtonsContainer
	height 6%
	left 0%
	position absolute
	bottom 0%  
	width 99%
	z-index 10

#newCatalogRoot #bottomContainer
	width 100%
	position absolute
	left 0%
	z-index 500
	height 100%
	top 0%
	overflow-x scroll
	padding-bottom 5%

#newCatalogRoot #buttonRow
	top 0%
	z-index 1000
	position absolute
	left 15.5%
	width 50%
	height 100%
	display inline-block

#newCatalogRoot #catalogDiv
	height 90%
	overflow-x auto
	overflow-y visible
	position absolute
	right 0
	width 100%
	z-index 49 
	top 20% !important

#newCatalogRoot #clearSearchButton
	padding 0.1em
	width 90%
	margin 5%
	margin-top 0%
	background-color rgba(0, 0, 0, 0.6)
	border 2px solid #fff
	text-align center
	display: none

#newCatalogRoot #centeredCollectionHeader
	top 10%
	white-space nowrap
	position relative
	margin-left auto
	margin-right auto

#newCatalogRoot #collection-title
	 display inline-block
	 position relative
	 height 100%
	 text-overflow ellipsis
	 white-space nowrap
	 font-size 80%
	 text-transform uppercase
	 top 7.5%
	 margin-left auto
	 margin-right auto

#newCatalogRoot #collection-label
	height 7%
	left 19%
	margin-left 1.22%
	padding 0px 0px 0px 10px
	position absolute
	top 2.45%
	text-align center
	width 45%   
	font-size 1.7em


#newCatalogRoot #collection-selection
	border solid transparent
	border-width 5px 0px 5px 0px
	display inline-block
	height 9.6%
	position relative
	padding-bottom 0.75%
	overflow none
	width 100%

#newCatalogRoot #collectionArea
	height 40%
	width 100%
	//overflow-x hidden
	//overflow-y hidden
	text-align left
	position absolute

#newCatalogRoot #bottomScrollWrapper
	width 100%
	position absolute
	left 0%
	z-index 500
	height 75%
	top 25%
	overflow hidden
	
#newCatalogRoot #collectionDescription
	width 90%
	height 60%
	top 40%
	overflow-y auto
	margin-left 5%
	margin-right 5%
	position absolute
	text-align center
	padding-top 1%
	color white
	word-wrap break-word

#newCatalogRoot	.collectionDot
	display inline-block
	background-color rgb(170,170,170)
	cursor pointer

#newCatalogRoot #collectionDotHolder
	height 15%
	width 100%ion
	text-align center
	position absolute
	top 26.5%

#newCatalogRoot #collectionMenu
	width 35%
	height 25%
	display inline-block
	top 8%
	left .5%	
	position absolute
	padding-top .5%
	padding-bottom 1%
	opacity .95
	background-color black
	border-radius 3%
	overflow auto
	font-size 100%
	list-style square none none
	display none
	z-index 90000000

#newCatalogRoot #backButton
	width 100%
	padding-top 30%
	padding-left 20%
	position absolute
	z-index 999999999
	display inline

#newCatalogRoot #backButtonArea
	position absolute
	display inline
	width 7.5%
	left 1%
	float left

#newCatalogRoot .currentThumbnail
	width 100%
	height auto
	//border-radius 2%

#newCatalogRoot .descText
	text-overflow ellipsis
	word-wrap break-word
	color white
	white-space normal
	word-wrap break-word

#newCatalogRoot .descSpan
	vertical-align middle
	overflow-x hidden
	overflow-y auto
	position absolute
	width 90%
	height 33%
	left 5%
	top 2%

#newCatalogRoot #displayHelp
	background-color rgba(0,0,0,0.5)
	height 100%
	left 0%
	position relative
	top 0.5%
	width 100%   

#newCatalogRoot #displayHelpText
	font-size 2.5em
	margin 0px auto
	position relative
	text-align center
	width 65%

#newCatalogRoot #displayHelpTitle
	font-size 2em 
	margin 0px auto
	padding-top 15%
	position relative           
	text-align center
	width 60%

#newCatalogRoot #divide
	float left
	margin-left 2%

#newCatalogRoot .exploreTab
	background-color rgba(0,0,0,0.6)
	color white
	display inline-block
	height 22%
	overflow hidden 
	position absolute
	left 0
	bottom 0px
	width 100%  

#newCatalogRoot .exploreText
	margin-right 3% 
	position relative
	text-overflow ellipsis
	word-wrap break-word
	color white
	white-space normal
	word-wrap break-word
	text-align center
	top 8%         

#newCatalogRoot #feedbackContainer
	bottom 0%
	float right
	height auto
	position relative
	padding-top 5.25%        
	right 1.5%
	width 6%

#newCatalogRoot #feedback-icon
	height 38%
	position absolute
	right 5%
	top 10%
	vertical-align middle
	width auto

#newCatalogRoot #filterContainer
	position relative
	width 100%
	margin-left 2%

#newCatalogRoot #filterWrapper
	width 100%
	height auto
	display inline

#newCatalogRoot #filters
	display inline

#newCatalogRoot #filterByKeywords
	display none
	//width 100%
	float left
	margin-top 2%
	cursor auto

#newCatalogRoot .imgDiv
	width 85%
	height 100%
	//border-radius 3%
	position absolute
	overflow hidden
	top 20%
	left 7.25%

#newCatalogRoot #infoDiv
	position absolute
	left 0%
	height 90%
	width 25%
	text-align center
	color white

#newCatalogRoot .infoText
	position absolute
	bottom 0%
	left 5%
	height auto
	width 90%

#newCatalogRoot #infoTilesContainer
	position absolute
	right 0
	height 100%
	width 75%


#newCatalogRoot #topDiv
	width 100%

#newCatalogRoot #keywords
	display inline
	position relative
	//left 0
	float left
	margin-top 1%

#newCatalogRoot .keywordsSelect
	font-size 70%
	margin-top 0.5%
	z-index 1000

#newCatalogRoot #leftContainer
	display inline
	position absolute
	width 98%
	margin-bottom 2%

#newCatalogRoot li.rowItem
	display inline
	margin-left 10px
	border-radius 6pt
	background-color #fea100

#newCatalogRoot #loadingArea
	background-color rgba(0, 0, 0,1)
	height 100%
	position absolute
	width 100% 
	z-index 1000000

#newCatalogRoot .mainCollection
	float left
	display inline-block
	height 100%
	width 100%
	font-size 200%
	font-family Cinzel
	padding-top .1%

#newCatalogRoot .miniTilesLabel
	width 90%
	position absolute
	bottom 50%	
	left 5%

#newCatalogRoot .miniTilesHolder
	position absolute
	width 85%
	height 35%
	left 7.25%
	bottom 10%
	overflow-x hidden

#newCatalogRoot .miniTilesHolder::-webkit-scrollbar
	display none

#newCatalogRoot .miniTile
	border 1px solid rgba(250,250,250,0.85)
	height 100%
	position absolute
	bottom 0
	box-sizing border-box
  	-moz-box-sizing border-box
  	-webkit-box-sizing border-box

#newCatalogRoot .nextPrevCollection
	display inline-block
	font-size 150%
	color rgb(170,170,170)
	position absolute
	top 15%
	height auto
	overflow hidden
	text-align center
	text-overflow ellipsis                
	white-space nowrap
	padding-left 2%
	padding-right 2%
	cursor pointer

#newCatalogRoot .miniTilesArrow
	width 5%
	height auto
	position absolute
	left 1%
	bottom 20%

#newCatalogRoot #overlay
	position absolute
	wh 100%
	pointer-events none
	z-index 1

#newCatalogRoot .previewTile
	background-color rgba(0,0,0,0.5)
	width 100%
	top 0%
	//display inline-block
	height 100%
	z-index 10001
	overflow none
	position absolute
	border-radius 3.5px

#newCatalogRoot .rowButton
	cursor pointer
	float left
	font-size 110%
	margin-left 2%
	height 100%
	display inline

#newCatalogRoot #dropDownArrow
	height 50%
	top 35%
	transform rotate(270deg)
	-webkit-transform rotate(270deg)

#newCatalogRoot #sortRow
	height 10%
	position absolute
	top 0%
	left -14%
	width 100%
	z-index 100
	display block

#newCatalogRoot .sortButton
	text-overflow ellipsis
	overflow hidden
	white-space nowrap
	margin-top 1.5%
	margin-bottom 1.5%

#newCatalogRoot #sorts
	width 70%
	display block
	position relative

#newCatalogRoot #search
	width 20%
	margin-top 1%
	display inline
	float left
	

#newCatalogRoot #searchButton
	display inline-block
	background-color #fea100
	color #000
	border-width 0.05em
	border-radius 6pt
	font-size 90%
	vertical-align middle
	//font-weight bold
	padding-left 1.2%
	padding-right 1.2%
	padding-top 0.07%
	padding-bottom 0.03%
	

#newCatalogRoot #searchDescription
	width 90%
	overflow-y auto
	margin 5%
	margin-top 0%
	padding-right 5%
	font-weight bold
	word-wrap break-word

#newCatalogRoot #searchFilter
	height 100%
	width 11.5%
	position absolute
	display inline-block
	float left
	margin-left 2%

#newCatalogRoot #searchInput
	&::-ms-clear
		display none
	background-color transparent
	-webkit-box-sizing border-box
	-webkit-border-color #fea100
	-webkit-border-style solid
	border-color #fea100
	margin-top 3%
	border-style solid
	border-width 0.05em
	color #fea100
	font-size 80%
	//margin-top 0.5%
	z-index 1000
	border-radius 6pt
	padding-left 1%
	float right
	padding-left 1%
	width 17%

#newCatalogRoot #searchTxt
	color white
	font-size 70%
	margin 0.65% 3% 0 0
	width 100%
	position absolute
	top -4%
	margin-left 2%

#newCatalogRoot #selectedArtworkContainer
	-moz-box-shadow    15px 15px 5px 3px rgba(0,0,0,0.2);	
	-webkit-box-shadow 15px 15px 5px 3px rgba(0,0,0,0.2);	
	box-shadow       15px 15px 5px 3px rgba(0,0,0,0.2);	
	position absolute
	overflow hidden
	background-color rgba(0,0,0,0.9)
	bottom -5%
	height 110%
	z-index 200000
	display none
	border-radius 3.5px

#newCatalogRoot .tileTop
	width 100%
	height 100%
	top 0
	position absolute

#newCatalogRoot .tileBottom
	width 100%
	height 30%
	bottom 0
	position absolute

#newCatalogRoot .tile
	position absolute
	overflow hidden	
	border-radius 3.5px

#newCatalogRoot #tileDiv
	position absolute
	overflow-y visible
	height 100%
	width 98%
	margin-left 2%

#newCatalogRoot .tileImage
	position absolute
	wh 100%

#newCatalogRoot #tileLoadingArea
	position absolute
	height 100%
	width 100%

#newCatalogRoot .timeline
	position absolute
	overflow visible !important
	width 100%
	height 3%
	top 65%

#newCatalogRoot #timelineArea
	position absolute
	display none
	width 90%
	left 5%
	height 40%
	bottom 0

#newCatalogRoot .timelineCircleArea
	position absolute
	width 100%
	height 3%
	top 65%
	overflow visible !important

#newCatalogRoot .timelineDateLabel
	position absolute
	font-size 100%
	white-space nowrap

#newCatalogRoot .timelineEventCircle
	position absolute
	background-color white
	cursor pointer
	//max-width 40px
	//max-height 40px

#newCatalogRoot .timelineTick
	position absolute
	background-color rgb(170,170,170)
	width 2px
	max-width 2px
	height 100%
	top 0%

#newCatalogRoot .titleSpan
	top 3%
	position absolute
	height 15%
	text-align center
	text-overflow ellipsis
	overflow hidden
	white-space nowrap
	width 85%
	left 12%
	font-size 120%

#newCatalogRoot .toggleButton
	cursor pointer
	float left
	font-size 92.5%
	position absolute
	margin-top 3% 
	margin-right 10%
	height 100%

#newCatalogRoot #toggleRow
	top 0%
	z-index 1000
	position absolute
	right 0%
	width 20%
	height 100%
	display none

#newCatalogRoot #topBar
	height 25%
	position absolute
	top 0%
	width 100%
	z-index 2

#newCatalogRoot #topBar-header
	height 5%
	margin-bottom 15%
	overflow hide
	width 100%

#newCatalogRoot .tourLabel
	bottom 1%
	position absolute
	wh 30%

#newCatalogRoot ul.rowLeft
	margin 0px 0px 0px 0px
	list-style-type none
	display inline
	padding 0%

#newCatalogRoot ul.rowRight
	list-style-type none
	display inline
	right 0%

#newCatalogRoot .ui-dropdownchecklist 
	color black

#newCatalogRoot .ui-dropdownchecklist-item
	color black
	overflow hidden
	text-overflow ellipsis
	font-size 80%
	margin-left 2%
	margin-right 2%
	//text-align center
	
#newCatalogRoot .ui-dropdownchecklist-item input
	//border 1px solid #777
	float left
	//margin-bottom 1%
	//margin-left 1%
	//margin-right 1%
	//margin-top 6%

#newCatalogRoot .ui-dropdownchecklist-item label
	//vertical-align middle
	//margin-left 5px

#newCatalogRoot .ui-dropdownchecklist-selector 
	background #fea100
	font-size 80%
	width auto
	padding-top: 2%

#newCatalogRoot .ui-state-hover, .ui-state-active 
	border-color #5794bf

#newCatalogRoot .ui-dropdownchecklist-dropcontainer 
	background-color #fea100
	text-align center
	border-radius 6pt

#newCatalogRoot .ui-state-hover 
	background-color #fea100

#newCatalogRoot .ui-state-disabled label 
	color #ccc

#newCatalogRoot .ui-dropdownchecklist-group 
	font-weight bold
	font-style italic

#newCatalogRoot .ui-dropdownchecklist-indent 
	padding-left 7px

#newCatalogRoot .ui-dropdownchecklist-selector-wrapper 
	padding-right 1%
	text-align center
	background-color #fea100
	//border-color rgb(167,180,174)
	//border-style solid
	//border-width 0.05em
	border-radius 6pt
	vertical-align middle
	box-shadow 3px 8px 12px 3px #000



#newCatalogRoot .ui-dropdownchecklist-selector:hover
	overflow visible 

#newCatalogRoot .ui-dropdownchecklist-selector.ui-state-hover 
	background-color #fea100

#newCatalogRoot .ui-dropdownchecklist-group 
	padding: 1px 2px 2px 2px;

#newCatalogRoot .selector-dropdown
	min-width 13px
	//height auto
	left: 0%
	opacity: 0.75
	float: right
	position: relative
	margin-right 3px
	transform rotate(270deg)
	-webkit-transform rotate(270deg)

#newCatalogRoot .videoLabel
	bottom -5%
	height 35%
	position absolute
	left 2%
	width 20%

#newCatalogRoot .yearInfo
	color white
	position absolute
	right 0
	bottom 0 
	text-align right
	width 30%

#newCatalogRoot .yearTextBox
	visibility hidden
	color white
	//border-top-left-radius 20%
	background-color rgba(0,0,0,0.8)
	padding-left 5%
	padding-right 2%
	text-align center
	min-width 20%
	right 0%
	bottom 0%
	height 30%
	position absolute

::-webkit-scrollbar
	width 10px
	height 10px

::-webkit-scrollbar:horizontal
	width 15px
	height 15px

::-webkit-scrollbar-track 
	-webkit-box-shadow inset 0 0 6px rgba(200,200,200,0.5)
	border-radius 10px

::-webkit-scrollbar-thumb
	border-radius 10px
	-webkit-box-shadow inset 0 0 6px rgba(200,200,200,1)
	background-color rgba(0, 0, 0, 0.5)