//@ import 'common.styl'

#setViewRoot
    background-color rgb(219,217,204)
    color black
    width 100%
    height 100%

#setViewRoot .buttonLeft
    min-height 0px
    width 48%
    margin-right 4%

#setViewRoot .sortOptionDiv
    width 90%
    border-style solid
    border-color black
    color black
    border-width thin
    background transparent
    margin-bottom 1%
    text-align center
    text-overflow ellipsis
    
#setViewRoot .buttonRight
    min-height 0px
    width 48%

#setViewRoot .rightBarOptions
    margin-left 2%
    margin-top 1%
    margin-right 0%
    margin-bottom 3%
    float left
    font-size 80%
	
#setViewRoot .saveChangesButton
    margin-right 2.5%
    margin-top 1%
    margin-bottom 1%
    margin-left .5%
    float right
    font-size 80%

#setViewRoot #changeLabel
    position absolute
    top 15%
    z-index 50
    height auto
    width 33%
    color black
    font-size 140%

#setViewRoot input
    border-width thin

#setViewRoot .metadataField
    color white
    float left
    background: #222
    width 98%
    height 22%
    padding 2%

#setViewRoot .metadataInfos
    position absolute
    left 32%
    top 25%
    margin 1%
    height 60%
    width 64%
    overflow auto
    border 1px solid white

#setViewRoot .metadataLists
    display block
    float left
    margin 1%
    width 28%
    position absolute
    top 25%
    border 1px solid white
    height 60%
    overflow auto

#setViewRoot .metadataPicker
    position absolute
    width 71%
    height 65%
    padding 1%
    background-color black
    border 3px double white
    top 17%
    left 14%

#setViewRoot #metadataPickerCancel
    position relative
    float right
    display inline-block
    bottom 4%
    right 2%
    margin 50% 0% 0% 0%
    color white
    border 1px solid white
    

#setViewRoot .metadataPickerHeader
    display block
    float left
    margin 1%
    position absolute
    top 3%
    font-size 100%
    width 95%
    color white
    background-color black
    text-overflow ellipsis

#setViewRoot #metadataPickerImport
    position relative
    float right
    display inline-block
    bottom 4%
    right 3%
    margin 50% 0% 0% 0%
    border 1px solid white
    color white

#setViewRoot .metadataPickerSearchbar
    display block
    float left
    margin 1%
    width 27%
    position absolute
    top 15% 
    border 1px solid white

#setViewRoot .metadataspec
    float left
    background: #222
    width 96%
    height 11%
    padding 2px
    color white

#setViewRoot .mtHolder
    width 94%
    height 9%
    text-overflow ellipsis
    font-size 100%
    padding 3%
    color white
    background-color black
    vertical-align middle

#setViewRoot .parsingInfo
    position absolute
    left 3%
    top 17%
    height 66%
    width 94%
    overflow auto
    display block

#setViewRoot .parsingOverlayText
    color white
    font-size 140%
    height 10%
    width 40%
    margin 30% 30% 30% 30%
    position absolute

#setViewRoot .parsingPicker
    position absolute
    width 29%
    height 49%
    padding 1%
    background-color black
    border 3px double white
    top 25%
    left 35%

#setViewRoot #parsingPickerCancel
    position relative
    float right
    display inline-block
    bottom 3%
    color white
    border 1px solid white
    margin 80% 0% 0% 0%

#setViewRoot #parsingPickerConfirm
    position relative
    float right
    display inline-block
    bottom 3%
    color white
    border 1px solid white
    margin 80% 0% 0% 0%
    right 3%

#setViewRoot .parsingPickerHeader
    font-size 70%
    width 100%
    float left
    color white
    background-color black
    display block

#setViewRoot #setViewTopBar
    height 8%
    min-height 25px
    width 100%
    background-color rgb(63,55,53)

#setViewRoot #setViewBackButton
    height 63%
    margin-left 1.2%
    width auto
    top 18.5%
    position relative

#setViewRoot #setViewTopBarLabel
    margin-right 2%
    margin-top: 0.36%
    color white
    position absolute
    text-align right
    right 0px
    top 0px
    //add if constrain and position not neccessary..? test on diff sizes!
    //height 92%
    //width 40%

#setViewRoot #setViewNavBar 
    height 92%
    width 23%
    float left

#setViewRoot .navContainer
    min-height 40px
    height 10%
    background transparent
    color black
    margin-top 2%
    padding-top 4%
    padding-bottom 4%

#setViewRoot .navtext
    font-size 100%
    display block
    margin-left 7.25%
    padding-top 2.55%

#setViewRoot .navsubtext
    font-size 70%
    display block
    margin-left 7.25%
    margin-top 0.372%

#setViewRoot #setViewMiddleBarContainer
    width 22%
    height 92%
    float left

#setViewRoot .middleLabel
    min-height 20px
    height 8%
    padding-left 2%
    padding-top 3%
    padding-bottom 2%
    margin-right 3.2%
    margin-bottom 3%
    overflow hidden
    position relative

#setViewRoot .middleLabel .labelText
    font-size 100%
    color black
    display inline-block
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    vertical-align top

#setViewRoot #setViewSearchContainer
    min-height 40px
    height 8%
    width 100%
    margin-top 2.5%
    margin-bottom 2.5%

#setViewRoot #setViewSearchBar
    &::-ms-clear
        display none
    width 55%
    border-color rgb(167,180,174)
    margin-top: 2%
    margin-left: 3.5%
    border-style solid

#setViewRoot .button
    border-style solid
    border-color black
    color black
    border-width thin
    background transparent

#setViewRoot button
    border-style solid
    border-color black
    color black
    border-width thin
    background transparent
    padding-left 10px
    padding-right 10px

#setViewRoot #setViewNewButton
    float right
    height 70%
    width 30%
    font-size 80%
    margin-top 1%
    padding-bottom 1%
    padding-left 10px
    padding-right 10px

#setViewRoot #setViewSecondaryButton
    float right
    height 100%
    margin-top 1%
    padding-bottom 1%
    margin-right 15px
    display none

#setViewRoot input[type='text']
    border-style solid
    color black
    border-color rgb(167, 180, 174)
    padding .5%

#setViewRoot input[type='password']
    border-style solid
    border-color rgb(167, 180, 174)

#setViewRoot #setViewMiddleBar
    width 100%
    height 92%

#setViewRoot #setViewMiddleLabelContainer
    padding-left 3.5%
    padding-right 20px
    padding-bottom 5%
    padding-top 2%
    height 92%
    overflow auto
    z-index 0

#setViewRoot #setViewMiddleLoading
    padding 2%
    height 40px
    margin-right 3%

#setViewRoot #setViewLoadingLabel
    font-size 160%

#setViewRoot #setViewLoadingCircle
    height 40*0.96 px
    width auto
    float right

#setViewRoot #setViewRightBar
    height 92%
    width 54%
    float right
    position relative

#setViewRoot #setViewViewer
    color white
    position absolute
    font-size 50%
    background black
    top 0%
    right 0px
    z-index 5
    overflow hidden
    //height 60%
    width 100%

#setViewRoot textarea
    color black
    border-color rgb(167, 180, 174)
    padding .5%

#setViewRoot #setViewButtonContainer
    width 100%
    position absolute
    height 40px
    z-index 5
    background-color rgb(219,217,204)
    margin-top 0.35%
    margin-bottom 2.5%

#setViewRoot #setViewSettingsBar
    width 100%
    position absolute
    bottom 0px
    overflow auto
    
#setViewRoot #setViewSettingsContainer
    color black
    margin-left 2%
    margin-top 3%
    margin-bottom 3%
    margin-right 0%

#setViewRoot div
	color black

#setViewRoot .button .settingButton
    height 100%
