@import 'common.styl'

#splashScreenRoot
    position relative
    left 50% 
    margin-left -467px
    top 0px 
    width 934px
    height 482px
    overflow hidden

#splashScreenRoot #innerContainer
    background-color black
    position absolute
    left 0px
    right 0px
    width 934px
    height 482px

#splashScreenRoot #title
    position relative
    left 137px
    top 54px

#splashScreenRoot #description
    position relative
    left 127.00px
    top 62px

#splashScreenRoot #serverInput
    position relative
    left 160px
    width 22.5%
    background-color transparent
    border 1px solid white
    border-radius 3.5px
    color white

#splashScreenRoot #serverSubmit
    position relative
    left -43px
    border 1px solid white
    color white
    width auto
    margin-top 1%
    display inline-block
    padding-left 1%
    padding-right 1%
    font-family "Segoe UI",serif
    font-size 13.1px
    background-color transparent
    cursor pointer
    border-radius 3.5px

#splashScreenRoot #passwordInput
    position relative
    left 260px
    width 22.5%
    background-color transparent
    border 1px solid white
    border-radius 3.5px
    color white

#splashScreenRoot #passwordSubmit
    position relative
    left 204px
    border 1px solid white
    color white
    width auto
    margin-top 1%
    display inline-block
    padding-left 1%
    padding-right 1%
    font-family "Segoe UI",serif
    font-size 13.1px
    background-color transparent
    cursor pointer
    border-radius 3.5px

#splashScreenRoot #serverError
    position relative
    left 157px
    color rgb(132,133,136)
    font-family "Segoe UI",serif
    font-size 11.1px
    font-style normal
    font-weight normal
    text-decoration none
    visibility hidden

#splashScreenRoot #passwordError
    position relative
    left 473px
    color rgb(132,133,136)
    font-family "Segoe UI",serif
    font-size 11.1px
    font-style normal
    font-weight normal
    text-decoration none
    visibility hidden
    top -13px

#splashScreenRoot #inputRow
    position relative
    left -10px
    top 45px

#splashScreenRoot #goToCollectionsButton
    position relative
    top 160px
    left 360px
    width 115px
    height 27px
    padding-left 2%
    padding-right 2%
    padding-top 0.4%
    background-color white
    font-weight bold
    font-family "Segoe UI",serif
    color black
    cursor pointer

#splashScreenRoot #msLogo
    height 55px
    left 725px
    position relative

#splashScreenRoot #brownLogo
    height 55px
    left 730px
    position relative

#splashScreenRoot #logoRow
    position relative
    top 180px
    left -40px

#splashScreenRoot span
    &.titleone
        color rgb(255,255,255)
        font-family "Segoe UI Bold",serif
        font-size 45.0px
        font-style normal
        font-weight bold
        text-decoration none
    &.titletwo
        color rgb(255,255,255)
        font-family "Segoe UI",serif
        font-size 30.1px
        font-style normal
        font-weight normal
        text-decoration none
    &.bodyDescone
        color rgb(255,255,255)
        font-family "Segoe UI",serif
        font-size 20.1px
        font-style normal
        font-weight normal
        position relative
        text-decoration none
        line-height 120%
    &.bodyDesctwo
        color rgb(255,255,255)
        font-family "Segoe UI",serif
        font-size 20.1px
        font-style normal
        font-weight normal
        position relative
        top 110px
        text-decoration none
        line-height 120%
        left 20.5px
    &.submit
        color rgb(255,255,255)
        font-family "Segoe UI",serif
        font-size 13.1px
        font-style normal
        font-weight normal
        text-decoration none
    &.placeHolder
        color rgb(132,133,136)
        font-family "Segoe UI",serif
        font-size 13.1px
        font-style normal
        font-weight normal
        text-decoration none
    &.error
        color rgb(132,133,136)
        font-family "Segoe UI",serif
        font-size 11.1px
        font-style normal
        font-weight normal
        text-decoration none



