#artmodeRoot.rootPage
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	#sideBar
		#toggler
			img#togglerImage
		#backBttnContainer
			img#backButton
		#linkContainer
			img#linkButton
		#sideBarSections
			#sideBarInfo
				#info
					#infoTitle.primaryFont
					#infoArtist.primaryFont
					#infoYear.primaryFont
				#assetContainer
					#locationHistoryContainer
						#locationHistory
							| Related Maps
			#minimapContainer
				img#minimap
				#minimaprect
			#feedbackContainer
				img#feedback-icon
				#feedback-text
	#seadragonManipContainer
		#seadragonManipSlideButton
			| Show Controls
	#loadingArea
			