#laureatesRoot.rootPage
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	#overlay
	#bgimage
	

	
				
	#bottomContainer
		#topArea
			#filterTitle
			#keywords
			#prizes
			#searchTitle
			#searchBar
				input#searchInput
				#searchBttnDiv
					img#searchBttn
			#searchResultText

		
		#searchArea
			ul.rowLeft
				li.rowItem
				
					#sorts
					#filterWrapper
						#filterByKeywords	
						#divide
							span |
						#filters
							ul.rowLeft
								li.rowItem
									#artworksButton.rowButton.secondaryFont Artworks
								li.rowItem
									#assocMediaButton.rowButton.secondaryFont Associated Media
					br
					
				
			#catalogDiv.background
		#searchTxt	
			
			#displayArea
	
			#tileDiv
		#popupOverlay
		#selectedArtworkContainer

	#bottomButtonsContainer
		img#infoButton
		img#tutorialButton
		img#linkButton

	#loadingArea			
	//                                                                      #feedbackContainer
	//- 	img#feedback-icon