#newCatalogRoot.rootPage
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	#topBar
		#collectionArea
			#mainCollection
				#backButtonArea
					img#backButton
				#centeredCollectionHeader
					#collection-title.primaryFont		
	#bottomContainer
		#catalogDivContainer
			#displayArea				