#newCatalogRoot.rootPage
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	#overlay
	#bgimage
	#topBar
		#collectionArea
			#backArrowArea
				img#backArrow
			#prevCollection
			#mainCollection
				.collection-title
			#nextCollection
			#nextArrowArea
				img#nextArrow
		#timelineArea
		#collectionDotHolder
	#bottomContainer

		#catalogDivContainer
			#sortRow.background
				#searchFilter
					input#searchInput(placeholder="Enter Keyword")
					#searchTxt
				#yearButton.rowButton(tagName="Year")
					|Year
				#titleButton.rowButton(tagName="Title")
					|Title
				#artistButton.rowButton(tagName="Artist")
					|Artist
				#typeButton.rowButton(tagName="Type")
					|Type
				#toggleRow.background
					#artworksButton.toggleButton(tagName="Artworks")
						|Artworks
					#assocMediaButton.toggleButton(tagName="Associated Media")
						|Associated Media	
			#catalogDiv.background
		#displayarea

		
			#infoDiv
			#tileDiv

		#selectedArtworkContainer
			#titleSpan
			#imgDiv
				#exploreTab
					img#exploreIcon
					#exploreText
				img#currentThumbnail
				#infoText
					#artistInfo
					#yearInfo
			#descText
				#descSpan

	#bottomButtonsContainer
		img#infoButton
		img#linkButton

	#loadingArea			
	//- #feedbackContainer
	//- 	img#feedback-icon