#newCatalogRoot.rootPage
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	#overlay
	#bgimage
	#topBar
		#collectionArea
			#backArrowArea
				img#backArrow
			#prevCollection
			#mainCollection
				.collection-title
			#nextCollection
			#nextArrowArea
				img#nextArrow
		#timelineArea
		#collectionDotHolder
	#bottomContainer

		#catalogDivContainer
			#sortRow.background
				#searchFilter
					input#searchInput
					#searchTxt
				#buttonRow.background
				#toggleRow.background
					#artworksButton.toggleButton
						|Artworks
					#assocMediaButton.toggleButton
						|Associated Media	
			#catalogDiv.background
		#displayarea

		
			#infoDiv
			#tileDiv

		#selectedArtworkContainer

	#bottomButtonsContainer
		img#infoButton
		img#linkButton

	#loadingArea			
	//- #feedbackContainer
	//- 	img#feedback-icon