#newCatalogRoot.rootPage
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	
	#overlay
	#bgimage
	#collectionMenu
	#topBar
		#collectionArea
			#mainCollection
				#backButtonArea
					img#backButton
				#centeredCollectionHeader
					#collection-title.primaryFont
					//img#dropDownArrow
		#timelineArea

		#collectionDotHolder

		
	#bottomContainer
		#catalogDivContainer
			#filterContainer
				#leftContainer
					#search
						ul.rowLeft
							li.rowItem
								input#searchInput
					#sorts
					#filterWrapper
						#filterByKeywords	
						#divide
							span |
						#filters
							ul.rowLeft
								li.rowItem
									#artworksButton.rowButton.secondaryFont Artworks
								li.rowItem
									#assocMediaButton.rowButton.secondaryFont Associated Media
					br
					#keywords
				
			#catalogDiv.background
		#searchTxt	
			
			#displayArea
		
			#infoDiv
			#tileDiv

		#selectedArtworkContainer

	#bottomButtonsContainer
		img#infoButton
		img#tutorialButton
		img#linkButton

	#loadingArea			
	//                                                                      #feedbackContainer
	//- 	img#feedback-icon