#setViewRoot.rootPage
    #setViewTopBar
        img#setViewBackButton
        #setViewTopBarLabel
    #setViewNavBar
    #setViewMiddleBarContainer
        #setViewSearchContainer
            input#setViewSearchBar(type='text')
            button#setViewNewButton
            button#setViewAddButton
            button#setViewSecondaryButton
            button#addMenuLabel
            #setViewFindBar
                #findBarTextBox
                img#findBarDropIcon
            #setViewFindContainer
                #setViewSortContainer
                    #sortLabelContainer
                    #sortsContainer
                        button#titleSort
                        button#collectionSort
                        button#addedAfterSort
                #setViewSearchBarContainer
        #setViewMiddleBar
            #setViewMiddleLabelContainer
                #setViewMiddleLoading
                    label#setViewLoadingLabel
                    img#setViewLoadingCircle
    #setViewRightBar
        #setViewViewer
        #setViewButtonContainer
        #setViewSettingsBar
            #setViewSettingsContainer

