#setViewRoot.rootPage
    #setViewTopBar
        img#setViewBackButton
        #setViewTopBarLabel
    #setViewNavBar
    #setViewMiddleBarContainer
        #setViewSearchContainer
            button#setViewNewButton
            button#setViewAddButton
            button#setViewSecondaryButton
            button#setViewFourthButton
            button#addMenuLabel
            #setViewFindBar
                button#findButton
                    #findBarTextBox
                    img#findBarDropIcon
            #setViewFindContainer
                #setViewSortContainer
                    #sortLabelContainer
                    #sortsContainer
                        button#titleSort
                        button#collectionSort
                        button#addedRecentlySort
                #setViewSearchBarContainer
                    #searchLabelContainer
                    #findSearchContainer
                        input#setViewSearchBar(type='text')
        #setViewMiddleBar
            #setViewMiddleLabelContainer
                #setViewMiddleLoading
                    label#setViewLoadingLabel
                    img#setViewLoadingCircle
    #setViewRightBar
        #setViewViewer
        #setViewButtonContainer
        #setViewSettingsBar
            #setViewSettingsContainer

