#splashScreenRoot.rootPage
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	#innerContainer
		#overlay
		#title
			span.titleone.primaryFont Touch Art Gallery-TAG
			span.titletwo.primaryFont   
		#topDesc.description
			span.bodyDescone.primaryFont
				|Welcome to Touch Art Gallery! To change servers, put in the address below. <br />
				|To access authoring for the current server, put in your authoring password. <br/>
		#inputRow
			#serverInputDiv
				input#serverInput.primaryFont
				#serverError Server error. 
				button#serverSubmit.primaryFont submit
			#passwordInputDiv
				input#passwordInput(placeholder='authoring password', type='password').primaryFont
				#passwordError Incorrect password.
				button#passwordSubmit.primaryFont submit
		//#bottomDesc.description
			span.bodyDesctwo.primaryFont
				|By tapping the button below, you'll enter the TAG kiosk mode and will <br />
				|not be able to return to this splash screen until TAG is restarted.
		#goToCollectionsButton Go to Collections
		img#tutorialButton
		#logoRow
			img#msLogo
			img#brownLogo


