#splashScreenRoot.rootPage
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	#innerContainer
		#overlay
		#title
			span.titleone.primaryFont TAG
			span.titletwo.primaryFont   Brown Graphics Lab Demo
		#description
			span.bodyDescone.primaryFont
				|Welcome to Touch Art Gallery! To change servers, put in the address below. <br />
				|To access authoring for the current server, put in your authoring password. <br/>
			span.bodyDesctwo.primaryFont
				|By tapping the button below, you'll enter the TAG kiosk mode and <br />
				|not be able to return to this splash screen until TAG is restarted.
		#inputRow
			input#serverInput.primaryFont
			input#passwordInput(placeholder='authoring password', type='password').primaryFont	
			#serverSubmit.primaryFont submit
			#passwordSubmit.primaryFont submit
			#serverError akdjkljdzfk;sdlkfnsdkl
			#passwordError Incorrect password. 
		#goToCollectionsButton Go to Collections
		#logoRow
			img#msLogo
			img#brownLogo


