#splashScreenRoot.rootPage
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	#innerContainer
		#overlay
			#leftLine.orangeLine
			#rightLine.orangeLine
		#title
			span.titleone.primaryFont The Nobel Will
			span.titletwo.primaryFont   
		#topDesc.description
			span.bodyDescone.primaryFont
				| Choose an experience below to learn more
		#inputRow
			#serverInputDiv
				input#serverInput.primaryFont
				#serverError Server error. 
				button#serverSubmit.primaryFont submit
			#passwordInputDiv
				input#passwordInput(placeholder='authoring password', type='password').primaryFont
				#passwordError Incorrect password.
				button#passwordSubmit.primaryFont submit
		//#bottomDesc.description
			span.bodyDesctwo.primaryFont
				#lockedMessage
					|By tapping the button below, you'll enter the TAG kiosk mode and will <br />
					|not be able to return to this splash screen until TAG is restarted.
		#introDiv
			#goToWillWrapper.goToWrapper
				#goToWillImage.goToImage
					img#willImage
				#goToWillButton.goToCollectionsButton Alfred Nobel's Will
					
		#buttonDiv
			#leftWrapper.endWrapper
			#goToIntroWrapper.goToWrapper
				#goToIntroImage.goToImage					
					img#introImage
				#goToIntroButton.goToCollectionsButton Introductory Tour
			
			#goToLifeWrapper.goToWrapper
				#goToLifeImage.goToImage
					img#lifeImage
				#goToLifeButton.goToCollectionsButton Alfred Nobel's Life
			#goToWinnersWrapper.goToWrapper
				#goToWinnersImage.goToImage
					img#winnersImage
				#goToWinnersButton.goToCollectionsButton Nobel Laureates
			#goToHistoryWrapper.goToWrapper
				#goToHistoryImage.goToImage
					img#historyImage
				#goToHistoryButton.goToCollectionsButton History and Impact
			#rightWrapper.endWrapper

		

