#startPageRoot.rootPage
	<link href='http://fonts.googleapis.com/css?family=Lobster|Shadows+Into+Light|Open+Sans+Condensed:300|Indie+Flower|Pacifico&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	#background
		#overlay
			#titleDiv
					#museumName.startPageInfo
					span#museumNameSpan.primaryFont
			#touchHintDiv
				img#handGif
				label#touchHint.secondaryFont
					| TOUCH TO EXPLORE	
			#infoTextHolder
				#museumInfoDiv.startPageInfo
					span#museumInfoSpan.primaryFont