#tourRoot.rootPage
	#rinPlayer.rinPlayer
	#bigThumbnailContainer
		img#bigThumbnail
		img#bigPlayButton
	#backButtonContainer
		img#backButton
		img#sidebarIconImg
	#linkContainer
		img#linkButton
	#sideBar
		#toggler
			img#togglerImage
		#sideBarSections
			#sideBarInfo
				#info
					#infoTitle.primaryFont
					#infoArtist.primaryFont
					#infoYear.primaryFont
				#assetContainer